<?xml version="1.0"?>
<model>
  <name>phine_gNB</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Riccardo Belletti</name>
    <email>riccardo.belletti@phine.tech</email>
  </author>
  <description>
    This is a model representing the visualization of a gNodeB.
  </description>
</model>
